$primary_button: #2196F3;
$white: #fff;
$light_grey: #ECEFF1;
$gris_oscuro: #D3D3D3;
$white_cream: #FAFAFA;
$links_color: #696969;
$list_color: #E57373;
$black: #000;
$dark_grey: rgba(43, 43, 43, 0.897);
$grey_rgba: rgba(0,0,0,.3);
$teal: #009688;
$light_blue: #03A9F4;